.DS_Store
assets/.DS_Store
.idea/.name
.idea/a3-hyunsk-lklyne-ankitpotdar.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
earthquake/.idea/.name
earthquake/.idea/earthquake.iml
earthquake/.idea/encodings.xml
earthquake/.idea/misc.xml
earthquake/.idea/modules.xml
earthquake/.idea/workspace.xml